// Font Variables
$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Color Variables
$dark-grey: #2a2b2b;
$light-grey: #d1d3d1;
$white: #fff;
$gradient-pink: #D7A099;
$gradient-blue: #475DA9;
$submit-color: #2A4B9C;
$submit-hover-color: #DEA99B;
$body-font-color: $dark-grey;

// Button Variables
$btn-margin: 5px;
$btn-padding: 43px 95px 43px 97px;
$btn-border: 1px solid #018dc4;
$btn-color: rgba(255,255,255,0.98);
$btn-border-radius: 6px;
$btn-font: normal 26px/24px $oswald;
$btn-clip: clip;
$btn-background: 50% 50%;
$btn-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
$btn-text-shadow: -1px -2px 0 rgba(40,40,40,1);
$checkbox-size: 15px;
$checkbox-top: -2px;
$checkbox-left: -1px;
$checkbox-border-size: 2px;
